.table-bottom{
    height: 40px;
    padding: 10px 0;
    /*border-top: 1px solid #000;*/
    /*border-bottom: 1px solid #000;*/
}

.bottom-nav{
    margin-top: 20px;
}

h2{
    /*border-bottom: 1px solid #000000;*/
}

.box-button{
    display: inline-block;
}